@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  @apply text-veniviciDark bg-white;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}